button {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.2s ease;
}
mat-selection-list {
    z-index: 100;
    margin-top: 0px;
    border: 1px solid #ccc;
}

.hidden {
    opacity: 0;
    transform: rotateY(90deg);
}